<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</head>
<body>
    <div> <h1> {{ username }}'s Profile </h1> </div>

    <div id="reviews">
        <table>
            <th>Game</th>
            <th>Review</th>
            <th>Score</th>
            {% for review, game in reviews %}
            <tr>
                <td>{{game.name}}</td>
                <td>{{review.text}}</td>
                <td>{{review.score}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>


    <div id="links">
        {% if isCurrentUser %}
            <a href="/review">Add Review</a>
        {% endif %}
        <a href="/">Home</a>
    </div>
</body>
</html>